<section class="main-content">
    <div class="row">
        <div class="col-md-6  ">
            <h3>Add POC</h3>    
            <hr>
            <form [formGroup]="addpocform"  (ngSubmit)="onSubmit()" >
                   
                    <div class="form-group">
                        <label>First Name </label>
                        <input [(ngModel)]="poc.firstName" type="text" class="form-control" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted &amp;&amp; addpocform.controls.firstName.errors }"/>
                        <div *ngIf="submitted &amp;&amp; addpocform.controls.firstName.errors" class="text-danger">
                            <div *ngIf="addpocform.controls.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Name </label>
                        <input  [(ngModel)]="poc.lastName" type="text" class="form-control" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted &amp;&amp; addpocform.controls.lastName.errors }"/>
                        <div *ngIf="submitted &amp;&amp; addpocform.controls.lastName.errors" class="text-danger">
                            <div *ngIf="addpocform.controls.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>POC Email</label>
                        <input  [(ngModel)]="poc.mail" type="text" class="form-control" formControlName="mail" [ngClass]="{ 'is-invalid': submitted &amp;&amp; addpocform.controls.mail.errors }"/>
                        <div *ngIf="submitted &amp;&amp; addpocform.controls.mail.errors" class="text-danger">     
                            <div *ngIf="addpocform.controls.mail.errors.required">POC Email is required</div>
                            <div *ngIf="addpocform.controls.mail.errors.Email">POC Email must be a valid email address</div>    
                        </div>
                </div>
                    
                    
                    <div class="form-group">
                        <label for="selects">Company </label>
                        <select name = "company" formControlName="company" [(ngModel)]="comp.Company" (change)="dataChanged($event)" id="company" class="form-control">
                            <option value="undefined">Select Company</option>  
                            <option *ngFor="let c of company; let i = index" [value]="c.companyId" >
                                {{c.companyName}} 
                            </option>
                        </select>
                        <div *ngIf="submitted &amp;&amp; addpocform.controls.company.errors" class="text-danger">
                            <div *ngIf="addpocform.controls.company.errors.required">Company is required</div>
                        </div>
                    </div> 

                    <div class="form-group">
                            <label for="selects">Status </label>
                            <select formControlName="status" id="PocStatus" [(ngModel)]="poc.status" class="form-control">
                                <!-- <option value="undefined">Select Status </option>  -->
                                <option *ngFor="let st of status; let i = index" [value]="status[i].id" >
                                    {{status[i].name}}
                                </option>
                            </select>
                            <div *ngIf="submitted &amp;&amp; addpocform.controls.status.errors" class="text-danger">
                                <div *ngIf="addpocform.controls.status.errors.required">Status is required</div>
                            </div>
                    </div>      
                    
                    <div>
                        <button class="btn btn-info"><i class="fa fa-user-plus" aria-hidden="true"></i> Add</button>
                    </div>
                </form> 
        </div>
    </div>
</section>
